* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  font-family: @df-sans;
  font-size: 14px
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 14px;

  td, th {
    padding: 0 8px;
  }
}

.header {
  color: white;
  background: gray;
}

.button {
  display: inline-block;
  border: 1px solid black;
  background-color: @st-light-green;
  padding: 2px 2px;
  text-align: center;
}

&.up::before, &.down::before {
  position: relative;
  color: white;  // color: rgb(188, 92, 35);
  font-size: 0.7em;
  // margin-left: 5%;
}
&.up::before {
  content: "\25B2";
  padding-top: 0.2em;
}
&.down::before {
  content: "\25BC";
  padding-top: 0.2em;
}

.outer-bar {
  position: relative;
}

.pay-bar {
  height: 15px;
  float: left;

  &.cash {
    background: @df-maroon;
  }
  &.equity {
    background: @df-navy;
  }
  &.other {
    background: @df-goldenrod;
  }

  &:hover {
    cursor: pointer;
    
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  position: absolute;
  background: gray;
  padding: 2px;
  top: 10px;
  left: 20px;
  display: none;
  z-index: 9;
}
